
@using FlowerShop.Models.Views
@model IList<FlowerShop.Models.Views.ProductViewModel>

@foreach (var product in Model)
{
    <div class="grid_1_of_4 images_1_of_4">
        <a href="preview-3.html"><img src="~/Content/images/@*@product.Images.FirstOrDefault().Path*@" alt="No Image" /></a>
        <h2>@product.Name</h2>
        <p>@product.Description</p>
        <p><span class="strike">$@product.Price</span><span class="price">$@product.Price</span></p>
        <div class="button">
            <span>
                <a href="preview-3.html" class="cart-button">
                    <img src="images/cart.jpg" alt="No Image" />
                    Add
                    to
                    Cart
                </a>
            </span>
        </div>
        <div class="button"><span><a href="preview-3.html" class="details">Details</a></span></div>
    </div>
}