
@{
    ViewBag.Title = "Home";
}

<div>
    <!-- #region Slider -->
    <div class="header_bottom">
        @{Html.RenderAction("HeaderBottomLeft", "Product");}
        @{Html.RenderAction("HeaderBottomRight", "Product");}
        <div class="clear"></div>
    </div>
    <!-- #endregion -->

    <div class="main">
        <div class="content">
            <!-- #region New Product Nav -->
            <div class="content_bottom">
                <div class="heading">
                    <h3>New Product</h3>
                </div>
                <div class="clear"></div>
            </div>
            <!-- #endregion -->
            <!-- #region New Product List -->
            <div id="NewProducts">
                <div class="section group">
                    @{
                        Html.RenderAction("HomeList", new { listType = 1 });
                    }
                </div>
            </div>
            <!-- #endregion -->
        </div>

        <div class="content">
            <!-- #region BEST SELLER PRODUCT Nav -->
            <!-- #endregion -->
            <!-- #region New Product Nav -->
            <div class="content_bottom">
                <div class="heading">
                    <h3>New Product</h3>
                </div>
                <div class="clear"></div>
            </div>
            <!-- #endregion -->
            <!-- #region New Product List -->
            <div id="NewProducts">
                <div class="section group">
                    @{
                        Html.RenderAction("HomeList", new { listType = 2 });
                    }
                </div>
            </div>
            <!-- #endregion -->
        </div>

    </div>
</div>
